$primary_main: #FAC234;
$secondary_main: #FA6334;
$success_main: #00C34E;
$background_default: #E5E5E5;;
$text_primary: #000000;
$text_secondary: #e1e1fc;
$text_disabled: #8d8da8;
$text_hint: #e1e1fc;
